.aboutme {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--neutro);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 2em;
    max-width: 1200px;
    width: 90%;
}

.card__container {
    padding: 0 2.9em;
    width: 100%;    
}

.card__container--image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__image {
    width: 80%;
    border-radius: 10px;
}

.card__container--text {
    text-align: left;
}

.card__title {
    color: var(--primary);
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 1.2em;
}

.card__text {
    position-try: relative;
    font-size: 1.1em;
    line-height: 1.6em;
    color: var(--text-gray); 
    text-align: justify;
}

.download {
    display: inline-block; 
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    padding: 1em;
    margin: 1em 0;
    max-width: 100%; 
    background-color: var(--primary); 
    text-align: center;
    text-decoration: none;
    color: var(--background-color);
    background-color: var(--primary);
    transition: 0.4s;
    max-width: 100%;
    box-sizing: border-box;
    animation: shake 0.5s infinite; 
}

@keyframes shake {
    0% { transform: translateX(0); }  
    25% { transform: translateX(-1px); } 
    50% { transform: translateX(1px); }  
    75% { transform: translateX(-1px); } 
    100% { transform: translateX(0); }   
}



@media screen and (max-width: 1024px) {
    .card {
        padding: 0;
    }

    .card__container {
        padding: 0; 
    }
}

@media (max-width: 750px) {
    .card {
        padding: 1em;
        flex-direction: column;
        text-align: center;
    }

    .card__image {
        width: 100%;
        margin-bottom: 1em;
    }

    .card__container {
        align-items: center;
        text-align: center;
    }

    .card__title {
        font-size: 1.8em;
    }

    .card__text {
        padding: 0.5em;
        text-align: left;
    }
}

@media screen and (max-width: 1024px) {

    @media screen and (min-width: 751px) {

        .card {
            padding: 1em;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: "item1 item2";
        }

        .card__title {
            padding-top: 16px;
        }

        .card__container {
            grid-area: item1; 
        }

        .card__container--image {
            grid-area: item2; 
        }

        .card__container--text {
            padding: 1em 0 1em 1em;
        }
    }

}