
.container {
    height: 100vh;
    text-align: center;
    align-items: center;
    padding: 2em;
    padding-top: 8em;
    display: grid;
    grid-template-columns: 50% 50%;
}

.banner {
    height: 90vh;
    margin-top: 1em;
    position: relative;
}

.banner__image {
    width: 70%;
    animation: girar 25s linear infinite;
}

@keyframes girar {
    0%, 100% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.1) rotate(10deg); /* Aumenta ligeiramente e faz uma pequena rotação */
    }
}

.banner__title {
    font-family: "Source Code Pro", monospace;
    font-size: 2.5em;
    text-align: left;
    margin-left: 2em;
    color: var(--primary);
}

.cursor {
    border-left: 2px solid #e8940d;
    animation: blink 0.7s step-end infinite;
    margin-left: 5px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.seemore {
    position: absolute;
    bottom: 2px; 
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease, font-size 0.3s ease;
    animation: aumentarDiminuir 3s infinite; 
}

.arrow {
    width: 5%;
}

.seemore__text {
    color: black;
}

@keyframes aumentarDiminuir {
    0% {
        transform: translateX(-50%) scale(1); 
    }
    50% {
        transform: translateX(-50%) scale(1.12); 
    }
    100% {
        transform: translateX(-50%) scale(1); 
    }
}

@media screen and (max-width: 750px) {
    .container {
        padding-top: 4em;
        height: 100%;
    }

    .banner {
        height: 85vh;
        display: flex;
    }

    .seemore {
        bottom: 5em;
    }

    .banner__title {
        margin: 0;
        width: 100%;
    }

    .banner__image {
        display: none;
    }

}

@media screen and (max-height: 600px) {

    @media screen and (max-width: 1024px) {
        .container {
            padding-top: 4em;
            height: 100%;
        }

        .banner {
            height: 85vh;
            display: flex;
        }

        .seemore {
            bottom: 1em;
        }

        .banner__title {
            margin: 0;
            width: 100%;

        }

        .banner__image {
            display: none;
        }

    }

}

@media screen and (min-height: 500px) {

    @media screen and (max-width: 1024px) {


        @media screen and (min-width: 751px) {

            .banner {
                height: 85vh;
            }

            .container {
                padding-top: 7em;
            }

            .seemore {
                bottom: 1.8em;
            }

        }

    }

}
