.projects {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projects__title {
    color: var(--primary);
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.projects__list {
    padding: 4em 0;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 32% 32% 32%;
    align-items: center;
    justify-content: space-around;
    max-width: 1500px;
    width: 100%;
    row-gap: 4em;
}

.projects__container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.projects__image {
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.437);
    transition: 0.4s;
}

.projects__image:hover {
    transform: scale(1.10);
}

@media screen and (max-width: 750px) {

    .projects__list {
        display: flex;
        flex-direction: column;
        box-shadow: none;
        padding-bottom: 0;

    }

    .projects__image {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {


    @media screen and (min-width: 751px) {

        .projects__list {
            grid-template-columns: 50% 50%;
        }

    }

}